<!--hacemos iteraciones de cada elemento que posea el juego
    Estas iteraciones se guardan en la variable temporal
    game que recorre gms quees un array que contiene todos
    nuestro juegos-->
<div class="col-md-4" *ngFor="let game of gms">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        {{game.title}}
        <button class="btn btn-danger" (click)="deleteGame(game.id)">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="game.imagen">
      <div class="card-body">
        <p>{{game.descripcion}}</p>
        <p>Created At {{game.created_at | date: 'yyyy-MM-dd'}}</p>
        <!--routerLink carga los contenidos o acciones de los links en
        Angular. Haciendo que se guarde del lado del cliente al actualizar
        clickear o llamar al elemento lo hará utilizando recursos del cliente
        sin tener que recargar la página-->

        <!--En este caso routerLink nos sirve para
          programar un evento click, que al dar click
          nos redirecione a la ruta games/edit/:id-->
        <a [routerLink]="['/games/edit', game.id]" class="btn btn-info btn-block">
          EDIT GAME
        </a>
      </div>
    </div>
  </div>