<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="title" [(ngModel)]="game.title" placeholder="Title" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="descipcton" [(ngModel)]="game.descripcion" placeholder="Description" rows="2" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="url" name="image" [(ngModel)]="game.imagen" placeholder="Image" class="form-control">
                </div>
                <button class="btn btn-success btn-block" (click)="makeNewGame()">Save</button>
            </form>
        </div>
    </div>
</div>

<!--Este es un previsualizador de la carta del juego-->
<div class="col-md-4">
    <div class="card card-body text-center">
        <!--CARD-IMG-TOP Es una clase de bootstrap que redimensiona la imagen para asi
            no tener que imprimirla en su dimension original y nos dañe el diseño se la
            página-->
    <img [src]="game.imagen == '' ? 'http://www.clker.com/cliparts/q/L/P/Y/t/6/no-image-available-hi.png' : game.imagen" alt="No Image" class="card-img-top">
      <h3>{{game.id}}. {{game.title == '' ? 'Game Title' : game.title}}</h3>
      <!--Si la descipcion esta vacia, escribe 'Write your Desciption', en caso
        contrario,escribe la descripcion-->
      <p>{{game.descripcion == '' ? 'Write your Descrition' : game.descripcion}}</p>
      <!--"|" hace que Angular procese el objeto,
        en este caso ese procesado de Angular se llama date
        y le estamos dando el formato de la fecha en que queremos que este
        ordenada-->
      <p>{{game.create_at | date: 'yyyy-MM-dd'}}</p>
    </div>
  </div>