<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/">MysqlCrud</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" routerLink="/games">GAMES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/games/add">ADD GAME</a>
                </li>
              </ul>
            </div>
          </div>
    </div>

  </nav>